*.h5
*.hdf5
*.npy
*.csv
*.dat
*.zip
*.jpg
*.png
*.json
*.html
*.db
*.pyc
*.txt
*.cpkt
*.lxml
*.jsp
*.href
*.mp4
*.mp3
*.bz2
*.h
*.blib
*.bridge.h
*.md
*.java
*.cpp
*.gif
*.xml
*.pkl
*.natvis
*.vector
*.in